.checkout-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.checkout-items {
    border: 1px solid #ccc;
    padding: 10px;
    color: #000;
}

.total-amount {
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
    color: #000;

}

.checkout-button {
    display: inline-block;
    width: 150px;
    padding: 10px 20px;
    background-color: #29BF12;
    color: #000;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.checkout-button:hover {
    background-color: transparent;
    color: #000;
}

.checkout-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #29BF12;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.checkout-link:hover {
    background-color: transparent;
    color: #000;
    
}